# Node dependencies
node_modules/
server/node_modules/

# Local configuration files
.env
server/.env

# Sensitive credentials keys
credentials.json
server/credentials.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
