PORT=3000

# Google Calendar Service Account JSON Key (Pasted as a single line string, or save as 'credentials.json' file instead)
GOOGLE_SERVICE_ACCOUNT_KEY=""

# The Google Calendar IDs to book appointments onto (use "primary" or the specific Calendar ID email address)
# Example: your-calendar-id@group.calendar.google.com
CALENDAR_ID_AU="primary"
CALENDAR_ID_NP="primary"
